body {
    font-family: 'Open Sans', Arial, 'Segoe UI Light', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

header {
    padding: 20px;
    background: #2196f3;
    color: white;
}

h1 {
    font-weight: 200;
}

main.home {
    margin: 20px 30%;
    text-align: center;
}

main.home div {
    margin-top: 100px;
    text-align: left;
}

main.home img {
    margin-top: 100px;
    max-width: 150px;
    max-height: 150px;
}

ul.line li {
    display: inline;
}

ul {
    list-style: none;
}

li.card {
    padding: 15px;
    border-radius: 5px;
    background: #EFEFEF;
    cursor: pointer;
    margin: 20px;
}

button {
    background: #2196f3;
    color: white;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav {
    padding: 10px 0px;
    width: 200px;
}

nav h3 {
    padding: 0px 20px;
}

#objects {
    padding: 0px;
    overflow-y: scroll;
}

#objects li {
    padding: 20px;
    cursor: pointer;
}

#objects li:hover {
    background: #B6B6B6;
}

#objects li img {
    max-width: 20px;
    max-height: 20px;
}

main.flex {
    display: flex;
}

aside {
    padding: 10px 20px;
    width: 200px;
}

#viewer {
    flex: 1;
}

form * {
    display: block;
}
